{% load static %}

 <img src="{% static 'blog/bike-logo.png' %}" alt="My image" >
<span id="page-name">
    Rowerowanie.pl
</span>
{% if user.is_authenticated %}
    <div>
    <table>
        <tr><td>
            <span id="logged-in-as">Zalogowano jako: <span id="user-name">{{ user.username }}</span></span>
        </td></tr>
        <tr><td>
            <a href="{% url 'logout' %}">
                <button id="logout-button">Wyloguj się</button>
            </a>
        </td></tr>
    </table>
    </div>
{% else %}
    <div id="buttons">
        <table>
            <tr><td><a href="{% url 'login' %}">
                <button name="loginButton" id="loginButton" >Zaloguj się</button>
            </a></td></tr>
            <tr><td><a href="{% url 'register' %}">
                <button name="registerButton" id="registerButton" >Zarejestruj się</button>
            </a></td></tr>
        </table>
    </div>
{% endif %}


